# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ambiente
.env
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos locais
uploads/
static/
*.pdf
*.png
